
    <div class="form_content">
      <%= render :partial => "admin/shared/global_errors.html", :locals => {:scope => {}} -%>
      <div id="material">
        <div class="fieldset">
          <div id="<%= scope[:plugged_artifact_angular_controller_element_id] %>" name="<%= scope[:plugged_artifact_angular_controller_element_id] %>" class="plugged_material">
            <div class="form_item">

              <div class="plugged_material_template required" id="plugin_view_template">
                <h1>dsdgsg</h1>
              </div>

              <span id="<%= scope[:plugged_artifact_data_element_id] %>" class="plugged_material_data" style="display: none">
                      </span>
            </div>
            <%= render :partial => 'shared/form_required_message.html', :locals => {:scope => {}} %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/convert_tool_tips.html' %>
  </div>